//custom variables
$fontColor: antiquewhite;
$bgColor: #343A40;
$bgContent: #5D5D5D;

//import the functions & variables
@import '../bootstrap-5.0.2/scss/functions';
@import '../bootstrap-5.0.2/scss/variables';


$custom-theme-colors: (
    "bgMain" : $bgColor,
    "bgCont" : $bgContent,
    "fontColor" : $fontColor
);

$theme-colors: map-merge($custom-theme-colors , $theme-colors );

$border-radius: 2rem;



@import '../bootstrap-5.0.2/scss/bootstrap.scss';

code { font-size: 0.875em; color: #00c5cfb0; word-wrap: break-word; }

.dropdown-item:hover, .dropdown-item:focus{
    color:#1e2125;
    background: #00c5cfb0;
}

